body {
	font-family: 'Cinzel', serif;
}

.modal-title {
	font-family: 'Calligraffitti', cursive;
	font-size: 36px;
}

#left-box, #right-box {
	min-height: 400px;
	width: 400px;
	background-color: green;
	display: inline-block;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background-image: url("../imgs/whitey.png");
}

#left-box {
	float: left;
	margin-left: 100px;
}

#right-box {
	float:right;
	margin-right: 100px;
}

#placard {
	height: 50px;
	width: 300px;
	margin: 10px auto;
	background-image: url("../imgs/retina_wood.png");
}

#artifact-info {
	font-family: 'Calligraffitti', cursive;
	font-size: 18px;
	height: 300px;
	width: 350px;
	margin: 10px auto;
	background-image: url("PUT IMG HERE");
}

#main-img-block img {
    width: 300px;
	height: auto;
	margin: 50px;
}

#slider-block {
	width: auto;
	height: 50px;
	background-color: blue;
	clear: both;
	border-radius: 10px;
}

#instructions {
	width: 300px;
	height: 100px;
	background-color: gray;
	margin: 10px auto;
	border-radius: 10px;
}

#buttons-box {
	margin: auto;
	width: 50%;
}

#money-box {
	width: 200px;
	height: 100px;
	background-color: purple;
	border-radius: 10px;
	margin: 100px auto 10px;
}

.inline-button {
	display: inline-block;
	margin: 10px;
	text-align: left;
}
