
<div class="row clearfix">	
	<div class="col-md-12 column">
		<div>
			<h1 align="center">Your overall score</h1>
			<h2 align="center"><span>{{ final_score }}</span> out of <span>{{ total_score }}</span> possible points</h2>
		</div>
	</div>
		<div id="replay-game" style="text-align:center;">
			<p>You successfully opened your exhibit of the artifacts from the field! Would you like to receive another shipment and start again?</p>
			<a href="/reset_session"><span style="font-size: 60px;"id="replay" class="glyphicon glyphicon-repeat"></span></a>
		</div>
</div>
</br>


{% for card in cards %}
<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="row clearfix">
			<div class="col-md-6 column">
				<div class="thumbnail">
					<h4 id="artifact-name">{{ card.name }}</h4>

					<div class="row clearfix">
						<div class=" col-md-12 column image-container">
							<img id="artifact-image-{{loop.index0}}" class = "img-responsive" src={{ card.img_URL }} alt={{ card.name }}/> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 column">
				<div class="thumbnail">
					<h4>Your date accuracy</h4>
					<div class="well">
						<p align="left">Actual date range: <span>{{ card.prod_date_begin }}</span>-<span>{{ card.prod_date_end }}</span></p>
						<p align="left">Your guess: <span>{{ card.guess }}</span></p>
						<p align="left">Artifact point value: <span>{{ card.score }}</span></p>
						<p align="left">Your earned points: <span>{{ card.guess_score }}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endfor %}
