<div>
	<h1 align="left">Your overall score</h1>
	<p align="left"><span>{{ final_score }}</span> out of <span>{{ total_score }}</span> possible points</p>
</div>

{% for card in cards %}
<div>
	<h1 align="left">{{ card.name }}</h1>
	<p align="left">Actual date range: <span>{{ card.prod_date_begin }}</span>-<span>{{ card.prod_date_end }}</span></p>
	<p align="left">Your guess: <span>{{ card.guess }}</span></p>
	<p align="left">Artifact point value: <span>{{ card.score }}</span></p>
	<p align="left">Your earned points: <span>{{ card.guess_score }}</span></p>
	<div id="main-img-block">
		<img src={{ card.img_URL }}/>
	</div>
</div>
{% endfor %}
