<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=""> <!-- Add browser tab icon here -->
    <title>Hack the Hearst - Timeline</title>
    <!-- Latest compiled and minified Bootstrap CSS and Theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/css/index.css">
    <!-- JavaScript. .-->
    <!--jQuery and Bootstrap -->
    <script src="static/libs/jquery-2.1.1.min.js"></script>
    <script src="static/js/gui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="static/libs/p5.min.js"></script>
  </head>

  <body>
    <!-- TODO: Add header content that is common across multiple pages. -->

    <!-- Content unique to a specific page will be automatically populated in this div. -->
    <div id="block-body">
        {% block body %}{% endblock %}
    </div>

    <!-- TODO: Add footer content that is common across multiple pages. -->
  
  </body>
</html>